$breakpoint-pc: 1200px;
$breakpoint-tablet: 768px;

$white: #fff;
$main-green: #38DE8B;
$process-blue: #1EE1EF;
$option-magenta: #F271D8;
$option-blue: #4DC4F1;
$option-lightgreen: #3BF8A6;
$option-olieve: #8FE23C;
$hover-blue: #4DC4F1;



$fw-bold: 700;
$fw-medium: 400;
$fw-light: 300;
