.set {
	width: 280px;
	height: 330px;
	border-radius: 5px;
	position: absolute;
	overflow: scroll;


	&__name {
		display: flex;
		align-items: center;
		padding: 0 20px;
		height: 40px;
		color: $white;
		font-size: 2rem;
		font-weight: $fw-bold;
	}
}
